html {
    background-image:url("../pictures/prologue.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
}

#oldman{
    position: fixed;
    left: 20px;
    bottom: 0px;
    z-index: 1;
}