html {
    background-color: aliceblue;
    background-image: url("../pictures/sf_01.png");
}

body {
    background-image: url("../pictures/sf_01.png");
    background-color: #cccccc;
   }


#character{
    position:fixed;
    left: 20px;
    bottom: 10px;
}
#simon{
    position: fixed;
    left: 20px;
    bottom: 0px;
    z-index: 1;
}
#eu{
    position: fixed;
    left: 900px;
    z-index: 1;
    bottom: 0px;
}
#okarin{
    position: fixed;
    left: 900px;
    z-index: 2;
    bottom: 0px;
}
#fam{
    position: fixed;
    left: 900px;
    z-index: 3;
    bottom: 0px;
}
